@media (max-width: 1200px) {
    .container {
        max-width: 769px;      
        margin: 0 auto;  
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 769px;      
        margin: 0 auto;  
    }
}
@media (max-width: 600px) {
    .promo{
        &__header{
            font-size: 30px;
        }
        &__subheader {
            margin-top: 0;
            font-size: 15px;
        }
        &__icons {
            width: 300px;
        }
    }
    .container {
        max-width: 425px;      
        margin: 0 auto;  
    }
    .header {
        &__official {
                font-size: 10px;
                span {
                    font-size: 16px;
                }
            }
        &__contacts{
            a {
                font-size: 14px;
            }
        }
    }
    .button {
        &_main {
            width: 180px;
        }        
        width: 130px;
    }
    .reason__item {
        width: 30%;
        font-size: 11px;
        &__header {
            font-size: 15px;
        }
    }
    .title {
        font-size: 12px;
        &_left {
            font-size: 18px;
        }
    }
    .consultation {
        &__desc{
            font-size: 14px;
        }
    }
}
@media (max-width: 360px) {
    .promo{
        &__header{
            font-size: 20px;
        }
        &__subheader {
            font-size: 10px;
        }
        &__icons {
            width: 200px;
        }
    }
}